* {border-radius: 0px !important;}

body {
  background-color: #22313F;
  color: #FFFFFF;
}

li {
  background-color: #FFFFFF;
  color: #282828;
  padding: 20px 20px 10px 20px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

h1 {font-size: 20px;}
h2 {font-size: 10px;}

img {width: 100px;}


a:hover {text-decoration: none;}

.online {border-bottom: 20px solid #26A65B;}
.offline {border-bottom: 20px solid #96281B;}
.closed {border-bottom: 20px solid #6C7A89;}

button {text-transform: uppercase;}

.btn-group {margin-top: 20px !important;}

.btn-success, .btn-success:hover {
  background-color: #26A65B !important;
  border-color: #26A65B !important;
  color: #FFFFFF !important;
}

.btn-danger, .btn-danger:hover {
  background-color: #96281B !important;
  border-color: #96281B !important;
  color: #FFFFFF !important;
}

.btn-default, .btn-default:hover {
  background-color: #6C7A89 !important;
  border-color: #6C7A89 !important;
  color: #FFFFFF !important;
}

.btn:hover, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}
