* {border-radius: 0px !important;}

body {
  background-color: #22313F;
  color: #FFFFFF;
}

li {
  background-color: #FFFFFF;
  color: #282828;
  padding: 20px 20px 10px 20px;
  margin: 20px !important;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 10px;
}

img {
  width: 100px;
}

button {
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
}

.online {
  border-bottom: 20px solid #26A65B;
}
.offline {
  border-bottom: 20px solid #96281B;
}
.closed {
  border-bottom: 20px solid #6C7A89;
}

.btn-group {
  margin: 20px 20px 0 20px;
}
